@import "components/normalize";
@import "components/base";
@import "components/typography";
@import "components/topbar";
@import "components/home";
@import "components/searchResultsGenre";

* {
    outline: 1px solid red;
}

html{
    margin-top:0;
    padding-top:0;
}
body{
    margin-top:0;
    padding-top:0;
}

.home_div {
    margin-top: 0;
    padding-top: 0;
}