@import "components/normalize";
@import "components/base";
@import "components/typography";
@import "components/topbar";
@import "components/home";
@import "components/searchResultsGenre";
@import "components/movieInfo";

