/// Colour palette

// Dark blue
$color1: #00053C;
// Background (pair 1 pink with dark colour as call to action, other pink accent only)

// Dark purple
$color2: #011689;

// Gross Purple (not using)
$color3: #8D33EE;

// Lighter pink
$color4: #F63BE3;

// Coral pink
$color5: #F72A75;

// Grey
$color6: #D3D3D3

// BORDER RADIUS OF 4
