button {
    background: none;
    border: none;
}

.comments__fullsection {
    border-top: 0.25px solid rgb(116, 115, 115);
    margin-top: 20px;
    padding-top: 20px;
}

.comment_field {
    background: none;
    border: none;
    border-bottom: 2px solid $color1;
    font-family: $body-font;
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    width: 90%;
}

.comment_button {
    background: $color5;
    border: 1px solid $color5;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.comments__form {
    margin-bottom: 30px;

}

.movieinfo__commentdiv {
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
}

.movieinfo__commentdiv__comment {
    padding: 10px 10px 0 10px;
    width: 80%;
}

.movieinfo__commentdiv__removebutton {
    background: none;
    border: none;
    float: right;
    margin: 0 0 10px 5px;
    width: 20px;
}

.movieinfo__commentdiv__removebutton img {
    width: 100%;
}

@media (min-width: 900px) {
    .comment_field {
        width: 95%;
    }
}