// Designing mobile first, starting at 320px
.home__loggedin__content {
    padding-top: 80px;
}

.home__loggedin__content h2,
.home__loggedin__content h5 {
    text-align: center;
}

.button_logout {
    background: none;
    color: $color5;
}

.home__loggedin__content h4 {
	width: 100%;
    text-align: center;
}

.pink_button {
    background: $color5;
    border: solid 2px $color5;
    border-radius: 3px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    margin: 35px;
    width: 200px;
}

.pink_button:hover {
    opacity: 0.3;
}

.search__genrediv,
.search__titlediv {
    border: solid 1px #000;
    min-height: 230px;
    margin: 30px auto;
    width: 280px;
}

.searchform input {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    display: block;
    margin-left: 17px;
    padding: 10px;
    width: 240px;
}

select {
    background: #FFF;
    font-family: $body-font;
    margin-left: 70px;
}

// This is where the login screen starts

.home__login {
    background: $color1;
    height: 100vh;
    margin: 0 auto;
    padding-top: 15vh;
}

.home__login h1 {
    color: white;
    margin-bottom: 4rem;
}

.home__login {
    text-align: center;
}

.home__login__logoimgdiv {
    width: 60%;
    margin: 0 auto;
}

.home__login__logoimgdiv img {
    width: 100%;
}

.home__login__buttondiv {
    margin: 0 auto;
}

.home__login button {
    background: none;
    color: white;
    margin: 0 auto;
    border: $color5 solid 2px;
    border-radius: 3px;
    display: block;
    font-size: 1.2rem;
    padding: 16px 0;
    text-align: center;
    width: 160px;
}

@media (min-width: 1110px) {
    .home__loggedin__content {
        margin: 0 auto;
        width: 700px;
    }

    .search__genrediv {
        float: right;
    }

    .search__titlediv {
        float: left;
    }
}

@media (min-width: 540px) {
    .home__login__logoimgdiv {
        width: 280px;
    }
}


