.movieInfo {
    padding-top: 90px;
}

.movieInfoPoster {
    margin: 0 auto;
    width: 80%;
}

.movieInfoPoster img {
    display: block;
    width: 100%
}

.mightAlsoLikeButton {
    background-color: $color1;
    border: 2px solid $color5;
    border-radius: 4px;
    color: #FFF;
    display: block;
    float: left;
    margin-top: 30px;
    max-width: 275px;
    padding: 15px;
    text-align: center;
    width: 80%;
}

.mightAlsoLikeButton:hover {
    color: $color5;
}

.movieInfoData {
    margin: 0 auto;
    width: 80%;
}

.movieinfo__genreslist {
    margin: 0;
    padding: 0;
}

.movieinfo__genrestitle {
    font-weight: 500;
    margin-top: 20px;
}

.genres {
    background: rgb(146, 146, 146);
    border-radius: 2px;
    color: white;
    margin: 5px;
    max-width: 160px;
    padding: 4px;
    text-align: center;
    width: 50%;
}

.comments {
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
}

@media (min-width: 480px) {
    .movieInfoPoster{
        float: left;
        padding: 10px 10px 10px 30px;
        width: 40%;
    }

    .movieInfoData {
        float: right;
        padding: 10px 30px 10px 10px;
        width: 58%;
    }

    .movieinfo__addbuttondiv div button {
        width: 170px;
    }
}