body {
    background-color: $color6;
}

.searchResults {
    max-width: 320px;
    // padding: 5%;
    padding-top: 80px;
    margin: 0 auto;

}

.movieImage {
    object-fit: cover;
    box-shadow: 2px 2px 1px gray;
}

a {
    text-decoration: none;
}

.movieResult {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    
}

.movieImage {
    width: 100%;
    display: block;
}

.movieResultIcon {
    max-height: 25px;
    margin-bottom: 5px;
    display: block;
    margin: 0 auto;
}

.moreInfoButton,
.addToListButton {
    // padding-top: 5px;
    // padding-bottom: 5px;
    background-color: $color1;
    border: 2px solid $color5;
    border-radius: 4px;
    color: #FFF;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 15px;
    text-align: center;
    width: 50%;
    // font-size: 1rem;
}

.moreInfoButton:hover,
.addToListButton:hover {
    color: $color5;
}

.moreInfoButton {
    border-right: 1px solid #F72A75;
}

.addToListButton {
    border-left: 1px solid #F72A75;
}

@media (min-width: 480px) {
    .movieImage {
        max-height: 270px;
    }

    .searchResults {
        max-width: 480px;
        margin: 0 auto;
    }
    .movieResult {
        width: 48%;
        margin: 0;
        float: left;
        margin-bottom: 15px;
    }

    .searchResults .movieResult:nth-child(2n+1) {
        float: left;
    }

    .searchResults .movieResult:nth-child(2n+2) {
        float: right;
    }

}

@media (min-width: 768px) {
    .searchResults .movieResult:nth-child(2n+1) {
        float: left;
    }

    .searchResults .movieResult:nth-child(2n+2) {
        float: left;
    }

    .movieImage {
        max-height: 300px;
    }
    .searchResults {
        max-width: 768px;
        margin: 0 auto;
        padding: 2.5%;

    }

    .searchResults .movieResult:nth-child(2n+2) {
        margin-left: 0;
    }

    .searchResults .movieResult:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
    }

    .movieResult {
        width: 32%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1280px) {
    .movieImage {
        max-height: 390px;
    }

    .searchResults {
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 80px;
    }

    .searchResults .movieResult:nth-child(3n+2) {
        margin-left: 0;
        margin-right: 0;
    }

    .searchResults .movieResult:nth-child(4n+2) {
        margin-left: calc(4% / 3);
        margin-right: calc(4% / 3); 
    }

    .searchResults .movieResult:nth-child(4n+3) {
        margin-right: calc(4% / 3);
    }

    body .searchResults .movieResult {
        width: 24%;
    }

}
